userfull comands:
   killall TaskDock
   xcodebuild -scheme TaskDock -configuration Debug build
   open /Users/igor/Library/Developer/Xcode/DerivedData/TaskDock-*/Build/Products/Debug/TaskDock.app

git commit after each sucesfull build